<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<header><a href="{% url 'show_all_items' %}">Показать все товары</a> </header>
<body style="text-align:center; padding:40px">
    <h2 style="margin:35px">Товары в корзине</h2>
    {% for item in items %}
        <div>
            <h4><a href="\./item/{{item.id}}/" style="text-decoration: none">{{ item.name }}</a> --- {{ item.price }} {{ item.currency }}</h4>
        </div>
    {% endfor %}
    <form action="{% url 'buy' %}" method="get" style="margin-top:50px">
        {% if different_currency == True %}
            <h4>Какой валютой будете оплачивать?</h4>
            <label for="radio_usd">USD</label>
            <input type="radio" name="currency_radio" checked value="usd" id="radio_usd">
            <label for="radio_rub">RUB</label>
            <input type="radio" name="currency_radio" value="rub" id="radio_rub">
        {% endif %}
        <br>
        <button type="submit" style="margin:15px">Оформить заказ</button>
    </form>
    <form method="get" action="{% url 'basket' %}">
        <button type="submit" value="basket_clear" name="to_do">Очистить корзину</button>
    </form>
</body>
</html>