<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<header><a href="{% url 'show_all_items' %}">Показать все товары</a> </header>
<body style="text-align:center; padding:40px">
    <h2 style="margin:35px">Товары в корзине</h2>
    {% for item in items %}
        <div>
            <h4><a href="\./item/{{item.id}}/" style="text-decoration: none">{{ item.name }}</a> --- {{ item.price }} {{ item.currency }}</h4>
        </div>
    {% endfor %}
    <a href="">Оформить заказ</a>
    <form method="get" action="{% url 'basket' %}" style="margin: 10px">
        <button type="submit" value="basket_clear" name="to_do">Очистить корзину</button>
    </form>
</body>
</html>